# Byte-compiled / optimized files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
.venv/
venv/

# Caches
.pytest_cache/
.ruff_cache/
.mypy_cache/

# env file
.env

# Editor/IDE
# .idea/
# .vscode/
